@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html, body {
    height: 100%;
}

body{
    color : #222222;
    background-image: url('images/bg_main.jpg');
    font-family: 'Lobster', cursive;
    background-size: cover;
    /* background-repeat: no-repeat; */
}

.container {
    display: flex; 
    /* border : solid; */
    /* flex-wrap: wrap; */
    /* align-content: flex-start;  */
    /* align-content: stretch; */
  }

#card {
    /* text-align: center; */
    /* width: 400px; */
    height: 508px;
    border-radius: 30px;
    background: white;
    box-shadow: 20px 20px 60px #bebebe,
                  -20px -20px 60px #ffffff;

    padding : 1%;
    margin : 2%;
    /* opacity: 0.5 */
   }

#card h2 {
    margin-left: 5%;
}


#chart_span{
    display: flex; /* Enable flexbox layout */
    align-items: center; /* Align items vertically in the center */
    justify-content: center; 
}

#chart_div{
    width : 350px;
    height: 350px;
    text-align: center;
    border-radius: 15px;
    background: white;
    box-shadow: 20px 20px 60px #bebebe,
                  -20px -20px 60px #ffffff;

    padding : 1%;
    margin : 2%;
}



footer {
    text-align: center;
}