<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='frontend.js') }}"></script>
    <title>Audio Diary</title>
</head>
<body>

    <h1><img src = "{{ url_for('static', filename='images/logo.png') }}" width = "250px"></h1> 
    <div id = "account_box"> Vats
    </div>
    <div class = "card">
        <h3 id = "entry_q">{{entry}}</h3>
        <div id = "audio_box">
            <div class="typewriter">
                <div class="slide"><i></i></div>
                <div class="paper"></div>
                <div class="keyboard"></div>
            </div>
        </div>

            <form method="post" action="/start_interaction">

                <input type="submit" value="Start Recording" name="Start Recording"/>

            </form>
            <form method="post" action="/end_interaction">

                <input type="submit" value="Stop Recording" name="Stop Recording"/>

            </form>

        </div>
    </div>
</body>
</html>