<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='signup.css') }}">
    <title>Document</title>
</head>
<h1>Howdinn</h1>
<body>
    <div class="form-box">
        <form class="form" method="post" action="{{ url_for('signup') }}">
            <span class="title">Sign up</span>
            <span class="subtitle">Create a free account with your email.</span>
            <div class="form-container">
                    <input type="email" name="email" class="input" placeholder="Email">
                    <input type="password" name="password" class="input" placeholder="Password">
            </div>
            <input type="submit" value="Submit">
        </form>
        <div class="form-section">
          <p>Have an account? <a href="">Log in</a> </p>
        </div>
        </div>
</body>
</html>